section{
    display: flex;
    align-items: center;
}
.cards{
    display: flex;
    gap: 36px;
    margin-left: 48px;
    margin-top: 120px;
}
.imagempizza{
    width: 150px;
    height: auto;
}
@media (max-widht:700px){
    .cards{
        flex-direction: column;
    }
}
